@font-face {
  font-family: 'AvenirNextLTPro-Regular';
    src: url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.eot"); 
    src: url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.svg#Avenir Next LT Pro Ultralight") format("svg"); 
}

@font-face {font-family: "DylanW01-Medium";
            src: url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.eot"); 
            src: url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.eot?#iefix") format("embedded-opentype"), 
            url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.woff2") format("woff2"), 
            url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.woff") format("woff"), 
            url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.ttf") format("truetype"), 
            url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.svg#DylanW01-Medium") format("svg"); }


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


.qv-object  {

    background-color: #f3f4f4;
    /*border-color: #6c160f;
    border-style: solid;*/
    border-radius: 6px 6px 2px 2px;
    font-family: 'Source Sans Pro', sans-serif !important;
  /* box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.16);*/
}

.qv-inner-object{
    font-family: 'Source Sans Pro', sans-serif !important;
}

.qv-object-content.button.text{
    font-family: 'Source Sans Pro', sans-serif !important;

}

body, button, input, isindex, keygen, select, textarea{
    font-family: 'Source Sans Pro', sans-serif !important;
}


.qv-object-treemap  {
    padding-bottom: 10px;
}

h1.qv-object-title.qvt-visualization-title{
    border-radius: none !important;
    font-size: 19px;
    background: transparent !important;
    padding: .1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: solid 2px #227093;
    padding-bottom: 2px;
}

/*Títulos de todos los objetos (Letra)*/
.qv-object .qv-object-title .qv-object-title-text {
	font-family: 'Source Sans Pro', sans-serif !important;
    color: #227093;
/*    padding-left: 15px;*/
	text-align: center;
    width: 100%;
}

/*Footer de los objetos*/
.qv-object-footnote {
    font-family: 'Source Sans Pro', sans-serif !important;
    margin-top: 0px !important;
    text-align: center !important;
    font-style: italic;
    font-size: 11px !important;
    font-weight: 550 !important;
    color: #ffffff !important;
    border-top: 2px solid !important;
    border-color: #227093 !important;
    background-color: #a3b4ca94 !important;
}

/*.qv-object .qv-viz * ,.qv-object .qv-chart-component-axis *,
.qv-object .qv-listbox *,.qv-object .qv-treemap * {

font-family: 'AvenirNextLTPro-Regular' !important;
font-weight: 600;

}*/

.qv-object-qsstatistic .ui.statistics .statistic>.label ,.qv-object-text-image .qv-media-tool-html ,.button, .text{
font-family: 'Source Sans Pro', sans-serif !important;
}



.qv-listbox{
    background-color: #ffffff !important;
}

.qvt-sheet{
  background: #f3f4f4 !important; 
}
/*
.qv-object-kpi .ellips-text , .qv-object-qsSimpleKPI .ellips-text, .qv-object-qlik-multi-kpi .ellips-text{
  color: #55abd3;
}

.qv-object-kpi , .qv-object-qsSimpleKPI, .qv-object-qlik-multi-kpi{
  color: #55abd3;
  border:solid 2px;
  border-radius: 10px 10px 10px 10px;
}

.qv-object-kpi .measure-title.ellips-text {
color: #353535;
}

*/

/*
.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab {
    background-color: #55abd3 !important;
}

.lui-tab.lui-active:focus, .lui-tab.lui-focused:focus, .lui-tab:focus {
    /*background-color: #transparent !important;*//*
    border-bottom: 2px solid #ffffff !important;
    transition: none;
}

.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:hover {
    /*background-color: #a7c55f !important;*//*
    background-color: transparent !important;
    border-bottom: 2px solid #ffffff !important;
}*/

.qs-container .qsc-tab-row .lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab {
    /*background-color: #55abd3 !important;*/
    background-color: transparent !important;
}
    
/*.qs-container .qsc-tab-row .lui-tab.lui-active:focus, .lui-tab.lui-focused:focus, .lui-tab:focus {
    background-color: #a7c55f !important;
    background-color: #227093 !important;
    border-bottom: 2px solid #ffffff !important;
    transition: none;
}*/
    
.qs-container .qsc-tab-row .lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:hover {
    /*background-color: #a7c55f !important;*/
    background-color: transparent !important;
    border-bottom: 2px solid #227093 !important;
}

.lui-tab .lui-tab__text {
    color: #ffffff;
}

.lui-tab:hover .lui-tab__text:hover {
    color: #ffffff !important;
}

.qs-container .qsc-tab-row .lui-tab__text {
    color: #227093 !important;
}

.qs-container .qsc-tab-row .lui-tab__text:hover {
    color: #227093 !important;
}
.qs-container .qsc-tab-row .lui-tab__text:focus {
    color: #227093 !important;
}

.qs-container .qsc-tab-row .lui-tab:focus:not(:hover) {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}
/*Barra de Navegacion de arriba*/
.qs-toolbar{
    background-color: #55abd3;
}

.qs-toolbar__center .qs-toolbar__tabset--tab.lui-tab.lui-active {
    border-bottom: 2px solid #a7c55f;
}

.qs-toolbar__center .qs-toolbar__tabset--tab:hover {
    border-bottom: 2px solid #a7c55f !important;
}

.tab-menu-button .tab-dropdown-icon:hover {
    /*background-color: #a7c55f;*/
    background-color: transparent;
   /* border-color: #a7c55f;*/
   border-color: transparent;
}

.tab-menu-button .icon-tab .icon-container:hover {
    /*background-color: #a7c55f;*/
    background-color: transparent;
    /*border-color: #a7c55f;*/
    border-color: transparent;
    box-shadow: none;
}

.tab-menu-button .double-label-tab .tab-container:hover{
    /*background-color: #a7c55f;*/
    background-color: transparent;
    /*border-color: #a7c55f;*/
    border-color: transparent;
    box-shadow: none;
}


/*Aca es donde quise poner el boton de color celeste cuando no esta seleccionado pero me pone todos en celeste jajaj*/
.lui-button {
border: 1px solid #ffffff!important;
background-color: #55abd3;
}

.lui-fade-button ,.lui-button {
    color:#ffffff !important;
}

.lui-fade-button:focus ,.lui-button:focus{
    color:#ffffff !important;
}
.lui-fade-button:hover ,.lui-button:hover{
    color:#ffffff !important;
}

[ng-click],.lui-dialog__button, .lui-dialog__footer .lui-button{
  color:#666666 !important;
 /* color:#ffffff !important;*/
}

.qv-panel-properties .overlay .overlay-content button{
  background-color: #666666 !important;
 /* background-color: #ffffff !important;*//*-----------Verificarlo-------------*/
}
/*PDC: esto es lo que habia borrado */
.lui-select{
background-color: #55abd3;
}

/*.qv-object-qlik-variable-input{
box-shadow:none;
}
/*Selector de variables*/
/*.lui-button.lui-active{
background-color: #a7c55f;
}
*/

/* Si la botonera esta horizontal
.qv-object-qlik-variable-input div.qlik {
    margin-top: 10px !important;
}
*/

.qv-object-qlik-variable-input .lui-button{
    box-shadow:none;
    background-color: transparent;
    color: #227093 !important;
    border: 1px solid;
    border-color: #227093 !important;
    }

.qv-object-qlik-variable-input .lui-button.lui-active{
    box-shadow:none;
    background-color: #227093;
    color: #ffffff !important;
    }

.qv-object-filterpane{
    background-color: #f3f4f4;
    padding-top: 0px; 
    box-shadow: none;
}

.qv-collapsed-listbox .title-wrapper .title{

  color: #227093;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 800;
  text-align: center;
  background-image: url(https://i.imgur.com/nh7SsPm.png);
  background-repeat: no-repeat;
 /* margin-right: 20px;*/
  background-position: right;
  background-size: 10px auto;
 /* margin-top: 4px;*/
  font-size: 16px;
  transition: transform .2s;
}
.qv-collapsed-listbox .title-wrapper .title:hover{

  color: #227093;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 800;
  text-align: center;
  background-image: url(https://i.imgur.com/ompjJgF.png);
  background-repeat: no-repeat;
 /* margin-right: 20px;*/
  background-position: right;
  background-size: 10px auto;
 /* margin-top: 4px;*/
  font-size: 16px;
  transform: scale(1.15);
}

.qv-object-filterpane .title-wrapper { 
    background-color: #f3f4f4 !important;
    border-left: 1px solid !important;
    border-color: #227093; 
}

.qv-object-filterpane .title-wrapper :first-child{ 
    border: none !important;  
}


.qv-filterpane .qv-filterpane-column:first-child {
    margin-left: 0;
    margin-right: 0px;
}

.qv-filterpane .qv-filterpane-column:last-child {
    margin-left: 0;
    margin-right: 0px;
}
.qv-filterpane .qv-filterpane-column{
    flex: 1 0 0%;
    min-width: 0;
    height: 100%;
    margin: 0 0px; 
}

.qv-object-filterpane .title-wrapper:hover {
 /*   background-color: #55abd3 !important;*/
    background-color: #f3f4f4 !important;
    border-left: 1px solid !important;
    border-color: #227093 !important; 
 /*   color: #00203a; */
    color: #ffffff !important; 
}


.qv-collapsed-listbox {
    border: none;
    background: 0 !important;

}

.qv-pt .cell.selected, .qv-pt .cell.selected-highlighted, .qv-pt .cell.parent.left.selected, .qv-pt .cell.empty.left.selected, .qv-pt .cell.left.selected, .qv-pt .cell.parent.left.selected-highlighted, .qv-pt .cell.empty.left.selected-highlighted, .qv-pt .cell.left.selected-highlighted {
    background-color: #ffc400 !important;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.qv-state-count-bar .state.optional {
    background: #f3f4f4 ;
    border:none !important;
}

.qv-collapsed-listbox .qv-state-count-bar{
    visibility: hidden !important;
}

 
.qs-container .qsc-item-wrapper,.qs-container .qsc-tab-row{
  border:none;
}

.qv-object-VizlibTable .header-title {

    color: white;

}

.qv-pt .cell .left-meta-headers .lui-button, .qv-pt .cell .top-meta-headers .lui-button {
	color:#666666!important;
	border-color: #AAAAAA !important;
}

.qv-pt .cell .left-meta-headers .lui-button, .qv-pt .cell .top-meta-headers .lui-button {
	background-color: #f3f4f4;
	}

.qv-pt .cell .left-meta-headers .lui-button.lui-active, .qv-pt .cell .top-meta-headers .lui-button.lui-active {
    background-color: #a7c55f;
}


/* Botones de arriba en blanco*/
.tab-menu-button .double-label-tab .secondary-label {
    color:#ffffff !important;
    }
    
.tab-menu-button .double-label-tab .primary-label {
    color: #ffffff !important;
}


/*Cuando paso por arriba de los filtros*/
.qv-collapsed-listbox.interactive:hover{
    border: none !important;
}

/*Botones de barra gris*/
.bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button, .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button{
    color:#595959 !important;
}

.qv-panel-edit-bar button {
    color:#595959 !important;
}

.lui-input-group .lui-input-group__button {
    color: #595959 !important;
    border-color: #b3b3b3 !important;
}

.lui-icon--clear-selections:before {
    color: #595959 !important;
}

.lui-icon--close:before {
    color: #ffffff !important;
}

.lui-icon--tick:before {
    color: #ffffff !important;
}

.qv-panel-sheet .sheet-title-container {
    border-bottom: 2px solid #227093 !important;
}

.qv-object-LatamHackaton .lui-button{
    width: 100%;
    background-color: #f3f4f4 !important;
    color: #227093 !important;
    border: 1px solid #227093 !important;
    margin-bottom: 2px;
}

.qv-object-LatamHackaton .lui-button:hover{
    background-color: #dcdfdf !important;
}

.qv-object-LatamHackaton .lui-button:active{
    background-color: #dcdfdf !important;
    transform: translateY(4px);
}
/*Cuadro de selecciones*/
.qv-listbox li.serverOptional {
    background-color: #f3f4f4 !important;
}

.sel-toolbar-list{
    background-color: #f3f4f4 !important;
}

.lui-search__input{
    background-color: #f3f4f4 !important;
}

.lui-search .lui-search__clear-icon, .lui-search .lui-search__search-icon {
    background-color: #f3f4f4 !important;
}

.qv-listbox-popover, .qv-listbox-popover-small-device {
    background-color: #227093 !important;
}
/**/


#selectable{
    background-color: #f3f4f4;
}

#qv-story-play .qv-story-play-slide {
    background-color: #f3f4f4 !important;
}

.qs-ao-nav__button .lui-fade-button__text{
    color:#595959 !important;
}

.qs-ao-nav__button .lui-icon--sheet:before{
    color:#595959 !important;
}

.qs-ao-nav__button .lui-icon--bookmark:before{
    color:#595959 !important;
}

.qs-ao-nav__button .lui-icon--slide-show:before{
    color:#595959 !important;
}
/*Leyenda del mapa*/
.legend-object div{
    color: #7b7b7b !important;
}
/*Header de la tabla*/
.qv-st-interactive:not(.qv-st-selections-active):not(.qv-st-reordering-active) .qv-st-header:not(.qv-st-custom-header) .qv-st-header-cell-search, .qv-st-navigatable:not(.qv-st-selections-active):not(.qv-st-reordering-active) .qv-st-header-sortable:not(.qv-st-custom-header) {
    background-color:  #227093 !important;
    color: #ffffff !important;
    font-size: 14px;
}

.qv-st-header-cell {
    border-bottom: 1px solid #227093 !important;
}
/*
.qv-st-data-cell-dimension-value{
    border: 1px solid #227093 !important;
}

/*.qv-st-data-cell {
    border-bottom: 1px solid #227093 !important;
}

.column-width-adjust-line{
    background-color: #227093 !important;
}
*/

/*Selector de Variables*/
.qui-select.lui-select{
    background-color: transparent !important;
    border-color: #227093 !important;
}

.lui-popover .lui-popover__footer button{
    color: #7d7d7d !important;
}

/*Titulo de los objetos en editar editar*/
.qv-inline-edit-value {
    color: #227093;
}

/*Fondo del mapa en blanco y boton de home en azul*/
.qv-object-map-chart .map-content, .qv-object-map .map-content {
    background-color:white;
    }
    
.lui-icon--home:before {
    color: #227093;
}