@charset "UTF-8";
/* Barra Qlik Sense Principal*/
/* Barra Agregar Nuevos Datos */
/*Barra Navegacion Mobile*/
/*Barra Navegacion Abajo Mobile*/
/* Barra Titulo y Logo Hoja */
/* Fuente */
/* Hoja */
/* Objetos */
/* Titulo */
/* Footer */
/* Contenedor */
/* Selector de variables */
/* Filtros */
/* Filtros tipo 2 (comunes de qlik con fondo)*/
/* Extension Hackaton */
/* Cuadro de Selecciones */
/* Clase Selectable (Buscar que es) */
/* Narrar historia */
/* Tabla */
/* Mapa */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.eot");
  src: url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.woff") format("woff"), url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e351d9696c48bd2fbb51200af4054b09.svg#Avenir Next LT Pro Ultralight") format("svg");
}
@font-face {
  font-family: "DylanW01-Medium";
  src: url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.eot");
  src: url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.woff") format("woff"), url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/62d25a4c3a22618d7ca45d58990b83ce.svg#DylanW01-Medium") format("svg");
}
/* Fondo Hoja */
.qvt-sheet {
  background: #ffffff !important;
}

/* Objetos en General */
.qv-object {
  background-color: #ffffff;
  /*border-color: #6c160f;
  border-style: solid;*/
  border-radius: 6px 6px 2px 2px;
  font-family: "AvenirNextLTPro-Regular" !important;
  /* box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.16);*/
}

/* Fuente Objetos */
.qv-inner-object {
  font-family: "AvenirNextLTPro-Regular" !important;
}

.qv-object-content.button.text {
  font-family: "AvenirNextLTPro-Regular" !important;
}

body, button, input, isindex, keygen, select, textarea {
  font-family: "AvenirNextLTPro-Regular" !important;
}

.qv-object-qsstatistic .ui.statistics .statistic > .label, .qv-object-text-image .qv-media-tool-html, .button, .text {
  font-family: "AvenirNextLTPro-Regular" !important;
}

/**/
/* Objeto Treemap */
.qv-object-treemap {
  padding-bottom: 10px;
}

/* Borde Titulos Objetos */
h1.qv-object-title.qvt-visualization-title {
  border-radius: 6px 6px 0px 0px !important;
  font-size: 19px;
  background: #435362 !important;
  padding: 0.1em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-bottom: solid 2px #435362;
  padding-bottom: 2px;
}

/*Fuente Títulos Objetos*/
.qv-object .qv-object-title .qv-object-title-text {
  font-family: "AvenirNextLTPro-Regular" !important;
  color: #e4e4e4;
  /*    padding-left: 15px;*/
  text-align: center;
  width: 100%;
}

/*Footer de los objetos*/
.qv-object-footnote {
  font-family: "AvenirNextLTPro-Regular" !important;
  margin-top: 0px !important;
  text-align: center !important;
  font-style: italic;
  font-size: 11px !important;
  font-weight: 550 !important;
  color: #435362 !important;
  border-top: 2px solid !important;
  border-color: #435362 !important;
  background-color: #ffffff !important;
}

/*.qv-object .qv-viz * ,.qv-object .qv-chart-component-axis *,
.qv-object .qv-listbox *,.qv-object .qv-treemap * {

font-family: 'AvenirNextLTPro-Regular' !important;
font-weight: 600;

}*/
.qv-listbox {
  background-color: #ffffff !important;
}

/*
.qv-object-kpi .ellips-text , .qv-object-qsSimpleKPI .ellips-text, .qv-object-qlik-multi-kpi .ellips-text{
  color: #55abd3;
}

.qv-object-kpi , .qv-object-qsSimpleKPI, .qv-object-qlik-multi-kpi{
  color: #55abd3;
  border:solid 2px;
  border-radius: 10px 10px 10px 10px;
}

.qv-object-kpi .measure-title.ellips-text {
color: #353535;
}

*/
/*
.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab {
    background-color: #55abd3 !important;
}

.lui-tab.lui-active:focus, .lui-tab.lui-focused:focus, .lui-tab:focus {
    /*background-color: #transparent !important;*/
/*
    border-bottom: 2px solid #ffffff !important;
    transition: none;
}

.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:hover {
    /*background-color: #a7c55f !important;*/
/*
    background-color: transparent !important;
    border-bottom: 2px solid #ffffff !important;
}*/
/* Fondo Tab Container */
.qs-container .qsc-tab-row .lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab {
  /*background-color: #55abd3 !important;*/
  background-color: transparent !important;
}

/*.qs-container .qsc-tab-row .lui-tab.lui-active:focus, .lui-tab.lui-focused:focus, .lui-tab:focus {
    background-color: #a7c55f !important;
    background-color: #227093 !important;
    border-bottom: 2px solid #ffffff !important;
    transition: none;
}*/
/* Fondo Tab Container (Hover-Active) */
.qs-container .qsc-tab-row .lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:hover {
  /*background-color: #a7c55f !important;*/
  background-color: transparent !important;
  border-bottom: 2px solid #435362 !important;
}

/* REVISAR CONTENEDOR */
.lui-tab .lui-tab__text {
  color: #ffffff;
}

.lui-tab:hover .lui-tab__text:hover {
  color: #ffffff !important;
}

.qs-container .qsc-tab-row .lui-tab__text {
  color: #435362 !important;
}

.qs-container .qsc-tab-row .lui-tab__text:hover {
  color: #435362 !important;
}

.qs-container .qsc-tab-row .lui-tab__text:focus {
  color: #435362 !important;
}

.qs-container .qsc-tab-row .lui-tab:focus:not(:hover) {
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
}

/* REVISAR CONTENEDOR */
/*Barra de Navegacion de arriba*/
.qs-toolbar {
  background-color: #435362;
}

.qs-toolbar__center .qs-toolbar__tabset--tab.lui-tab.lui-active {
  border-bottom: 2px solid #ed5200;
}

.qs-toolbar__center .qs-toolbar__tabset--tab:hover {
  border-bottom: 2px solid #ed5200 !important;
}

.qs-toolbar__left .lui-button.qs-toolbar__element {
  border-color: #e4e4e4;
}

.qs-toolbar__left .lui-button.qs-toolbar__element .lui-button__text {
  color: #e4e4e4;
}

.qs-toolbar__left .lui-button.qs-toolbar__element .lui-icon.lui-icon--direction-left.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__left .qs-popover-container.qs-toolbar__element .lui-button {
  border-color: #e4e4e4;
}

.qs-toolbar__left .qs-popover-container.qs-toolbar__element .lui-button .lui-icon.lui-icon--menu.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__left .qs-popover-container.qs-toolbar__element .lui-button .lui-button__caret.lui-caret {
  color: #e4e4e4;
}

.qs-toolbar__left .qs-app-info-toggle-container.qs-toolbar__element .lui-fade-button.lui-fade-button.qs-app-info-toggle .lui-icon.lui-icon--more-rounded.lui-fade-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__left .qs-app-info-toggle-container.qs-toolbar__element .lui-fade-button.lui-fade-button.qs-app-info-toggle .lui-fade-button__text {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button {
  border-color: #e4e4e4;
}

.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-icon.lui-icon--bookmark.qs-no-margin {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button__caret.lui-caret {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button {
  border-color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button .lui-icon.lui-icon--sheet.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button .lui-button__caret.lui-caret {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.qs-sheet-toolbar-previous-sheet-button.lui-buttongroup__button {
  border-color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.qs-sheet-toolbar-previous-sheet-button.lui-buttongroup__button .lui-icon.lui-icon--previous.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.qs-sheet-toolbar-next-sheet-button.lui-buttongroup__button {
  border-color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.qs-sheet-toolbar-next-sheet-button.lui-buttongroup__button .lui-icon.lui-icon--next.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-toolbar__element .lui-button.lui-buttongroup__button.lui-button--success .lui-icon.lui-icon--edit.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-toolbar__element .lui-button.lui-buttongroup__button.lui-button--success .lui-button__text.qs-sheet-toolbar-edit-title {
  color: #e4e4e4;
}

.tab-menu-button .tab-dropdown-icon .lui-icon {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .qs-popover-container.lui-buttongroup__button .lui-button .qs-sheet-toolbar-sheet-title.lui-button__text {
  color: #e4e4e4;
}

/*Barra Navegacion Editor de carga*/
.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button .lui-icon.lui-icon--debug.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button .lui-icon.lui-icon--play.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button .lui-button__text {
  color: #e4e4e4;
}

.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button .lui-icon.lui-icon--toggle-right.lui-button__icon {
  color: #e4e4e4;
}

/*Barra Navegacion Gestor de Datos*/
.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.lui-buttongroup__button .lui-button__icon .lui-icon.lui-icon--table.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.lui-buttongroup__button .lui-button__icon .lui-icon.lui-icon--bubbles.lui-button__icon {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.lui-buttongroup__button .lui-button__text {
  color: #e4e4e4;
}

.qs-toolbar__right .lui-buttongroup.qs-toolbar__element .lui-button.lui-buttongroup__button .lui-button__icon .lui-icon.lui-icon--play.lui-button__icon {
  color: #e4e4e4;
}

/* Agregar Nuevos Datos */
.add-data .add-data-header {
  background-color: #e4e4e4;
}

/*Barra Navegacion Narracion*/
.qs-toolbar__right .qs-popover-container.qs-toolbar__element .lui-button .lui-icon.lui-icon--slide-show.lui-button__icon {
  color: #e4e4e4;
}

/*Barra Navegacion Mobile*/
.qs-mobile-toolbar {
  background-color: #e4e4e4;
  color: #435362;
}

/*Barra Navegacion Abajo Mobile*/
.quick-navigation {
  background-color: #e4e4e4 !important;
}

.qn-sheet-title-text {
  color: #435362;
}

.button.qn-button.qn-next-button.lui-fade-button.lui-fade-button--inverse.lui-fade-button--large {
  color: #435362 !important;
}

/* Hover Botones Barra */
.tab-menu-button .tab-dropdown-icon:hover {
  /*background-color: #a7c55f;*/
  background-color: transparent;
  /* border-color: #a7c55f;*/
  border-color: transparent;
}

.tab-menu-button .icon-tab .icon-container:hover {
  /*background-color: #a7c55f;*/
  background-color: transparent;
  /*border-color: #a7c55f;*/
  border-color: transparent;
  box-shadow: none;
}

.tab-menu-button .double-label-tab .tab-container:hover {
  /*background-color: #a7c55f;*/
  background-color: transparent;
  /*border-color: #a7c55f;*/
  border-color: transparent;
  box-shadow: none;
}

/* Hover Botones Barra */
/*Aca es donde quise poner el boton de color celeste cuando no esta seleccionado pero me pone todos en celeste jajaj*/
/*.lui-button {
border: 1px solid #ffffff!important;
background-color: #13A6DF!important;
}*/
/* --------- REVISAR---------*/
/*
.lui-fade-button ,.lui-button {
    color:#595959 !important;
}

.lui-fade-button:focus ,.lui-button:focus{
    color:#ffffff !important;
}
.lui-fade-button:hover ,.lui-button:hover{
    color:#ffffff !important;
}

[ng-click],.lui-dialog__button, .lui-dialog__footer .lui-button{
  color:#666666 !important;
}

.qv-panel-properties .overlay .overlay-content button{
  background-color: #666666 !important;
 /* background-color: #ffffff !important;*/
/*-----------Verificarlo-------------*/
/*}*/
/* Selector de variables */
/*.lui-select{
background-color: #55abd3;
}*/
/*.qv-object-qlik-variable-input{
box-shadow:none;
}
/*Selector de variables*/
/*.lui-button.lui-active{
background-color: #a7c55f;
}
*/
/* Si la botonera esta horizontal
.qv-object-qlik-variable-input div.qlik {
    margin-top: 10px !important;
}
*/
/* Selector de Variables */
.qv-object-qlik-variable-input .lui-button {
  box-shadow: none;
  background-color: transparent;
  color: #435362 !important;
  border: 1px solid;
  border-color: #435362 !important;
}

.qv-object-qlik-variable-input .lui-button:hover {
  background-color: #43536247;
}

.qv-object-qlik-variable-input .lui-button.lui-active {
  box-shadow: none;
  background-color: #435362;
  color: #e4e4e4 !important;
}

/*-------------------Selector de Variables---------------------------REVISAR*/
.qui-select.lui-select {
  background-color: transparent !important;
  border-color: #435362 !important;
  position: absolute;
  height: 100%;
}

.qv-object-qlik-variable-input .qv-object-header.thin {
  height: 0px !important;
}

/*-------------------Selector de Variables---------------------------REVISAR*/
/* Filtros Tipo 1 */
/* Fin Filtros Tipo 1*/
/* Filtros Tipo 2 */
.qv-object-filterpane {
  background-color: #435362;
  padding-top: 0px;
  box-shadow: none;
}

.qv-collapsed-listbox .title-wrapper .title {
  color: #e4e4e4;
  font-family: "AvenirNextLTPro-Regular" !important;
  font-weight: 800;
  text-align: center;
  background-image: url(https://i.imgur.com/ompjJgF.png);
  background-repeat: no-repeat;
  margin-right: 20px;
  background-position: right;
  background-size: 10px auto;
  margin-top: 4px;
}

.qv-collapsed-listbox .title-wrapper .title:hover {
  color: #e4e4e4;
  font-family: "AvenirNextLTPro-Regular" !important;
  font-weight: 800;
  text-align: center;
  background-image: url(https://i.imgur.com/ompjJgF.png);
  background-repeat: no-repeat;
  margin-right: 20px;
  background-position: right;
  background-size: 10px auto;
  margin-top: 4px;
}

.qv-object-filterpane .title-wrapper {
  background-color: #435362 !important;
  border: none;
  border-left-style: groove;
  border-color: #e4e4e4;
  border-left-width: 1px;
}

.qv-filterpane .qv-filterpane-column:first-child {
  margin-left: 0;
  margin-right: 0px;
}

.qv-filterpane .qv-filterpane-column:last-child {
  margin-left: 0;
  margin-right: 0px;
}

.qv-filterpane .qv-filterpane-column {
  flex: 1 0 0%;
  min-width: 0;
  height: 100%;
  margin: 0 0px;
}

.qv-object-filterpane .title-wrapper:hover {
  background-color: #435362 !important;
  border: none !important;
  color: #e4e4e4;
}

.qv-collapsed-listbox {
  border: none;
  background: 0 !important;
}

.qv-pt .cell.selected, .qv-pt .cell.selected-highlighted, .qv-pt .cell.parent.left.selected, .qv-pt .cell.empty.left.selected, .qv-pt .cell.left.selected, .qv-pt .cell.parent.left.selected-highlighted, .qv-pt .cell.empty.left.selected-highlighted, .qv-pt .cell.left.selected-highlighted {
  background-color: #ffc400 !important;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.qv-state-count-bar .state.optional {
  background: #435362;
  border: none !important;
}

.qv-state-count-bar {
  background: #435362;
  border: none !important;
}

.qv-object.qvt-visualization.qv-object-filterpane.qv-layout-full {
  background-color: #ffffff;
}

.qv-filterpane-collapsed.qv-filterpane-fullscreen .lui-button {
  background-color: #435362;
  border-color: #435362;
}

.qv-filterpane-collapsed.qv-filterpane-fullscreen .lui-button .lui-icon.lui-icon--more.lui-button__icon {
  color: #e4e4e4;
}

/* Fin Filtros Tipo 2*/
/* Borde Contenedor */
.qs-container .qsc-item-wrapper, .qs-container .qsc-tab-row {
  border: none;
}

/* Titulo Tabla Vizlib */
.qv-object-VizlibTable .header-title {
  color: white;
}

/* --------------------------REVISAR QUE ES -----------------------------------*/
.qv-pt .cell .left-meta-headers .lui-button, .qv-pt .cell .top-meta-headers .lui-button {
  color: #666666 !important;
  border-color: #AAAAAA !important;
}

.qv-pt .cell .left-meta-headers .lui-button, .qv-pt .cell .top-meta-headers .lui-button {
  background-color: #f3f4f4;
}

.qv-pt .cell .left-meta-headers .lui-button.lui-active, .qv-pt .cell .top-meta-headers .lui-button.lui-active {
  background-color: #a7c55f;
}

/* --------------------------REVISAR QUE ES -----------------------------------*/
/* Botones de arriba en blanco*/
.tab-menu-button .double-label-tab .secondary-label {
  color: #e4e4e4 !important;
}

.tab-menu-button .double-label-tab .primary-label {
  color: #e4e4e4 !important;
}

/*Cuando paso por arriba de los filtros*/
.qv-collapsed-listbox.interactive:hover {
  border: none !important;
}

/* Botones de barra gris secundaria */
.bright.qv-panel-current-selections .buttons-end .qv-subtoolbar-button, .bright.qv-panel-current-selections .buttons .qv-subtoolbar-button {
  color: #595959 !important;
}

.qv-panel-edit-bar button {
  color: #595959 !important;
}

.lui-input-group .lui-input-group__button {
  color: #595959 !important;
  border-color: #b3b3b3 !important;
}

.lui-icon--clear-selections:before {
  color: #595959 !important;
}

/* Fin Botones de barra gris secundaria */
/* Botones Aceptar y Cancelar Selecciones */
.lui-icon--close:before {
  color: #ffffff !important;
}

.lui-icon--tick:before {
  color: #ffffff !important;
}

/* Fn Botones Aceptar y Cancelar Selecciones */
/* Barra Titulo y Logo Hoja */
.qv-panel-sheet .sheet-title-container {
  border-bottom: 2px solid #435362 !important;
}

/* Extension Hackaton */
.qv-object-LatamHackaton .lui-button {
  width: 100%;
  background-color: #ffffff !important;
  color: #091F40 !important;
  border: 1px solid #091F40 !important;
  margin-bottom: 2px;
}

.qv-object-LatamHackaton .lui-button:hover {
  background-color: #091F4047 !important;
}

.qv-object-LatamHackaton .lui-button:active {
  background-color: #091F4047 !important;
  transform: translateY(4px);
}

/* Fin Extension Hackaton */
/* Cuadro de Selecciones */
.qv-listbox li.serverOptional {
  background-color: #ffffff !important;
}

.sel-toolbar-list {
  background-color: #ffffff !important;
}

.lui-search__input {
  background-color: #ffffff !important;
}

.lui-search .lui-search__clear-icon, .lui-search .lui-search__search-icon {
  background-color: #ffffff !important;
}

.qv-listbox-popover, .qv-listbox-popover-small-device {
  background-color: #435362 !important;
}

/* Fin Cuadro de Selecciones */
#selectable {
  background-color: #ffffff;
}

/* Narrar historia */
#qv-story-play .qv-story-play-slide {
  background-color: #dadde0 !important;
}

/* --------------------Revisar ----------------*/
.qs-ao-nav__button .lui-fade-button__text {
  color: #595959 !important;
}

.qs-ao-nav__button .lui-icon--sheet:before {
  color: #595959 !important;
}

.qs-ao-nav__button .lui-icon--bookmark:before {
  color: #595959 !important;
}

.qs-ao-nav__button .lui-icon--slide-show:before {
  color: #595959 !important;
}

/* --------------------Revisar ----------------*/
/*Header de la tabla*/
.qv-st-interactive:not(.qv-st-selections-active):not(.qv-st-reordering-active) .qv-st-header:not(.qv-st-custom-header) .qv-st-header-cell-search, .qv-st-navigatable:not(.qv-st-selections-active):not(.qv-st-reordering-active) .qv-st-header-sortable:not(.qv-st-custom-header) {
  background-color: #ffffff !important;
  color: #435362 !important;
  font-size: 14px;
}

.qv-st-header-cell {
  border-bottom: 1px solid #435362 !important;
}

/*
.qv-st-data-cell-dimension-value{
    border: 1px solid #227093 !important;
}

/*.qv-st-data-cell {
    border-bottom: 1px solid #227093 !important;
}

.column-width-adjust-line{
    background-color: #227093 !important;
}
*/
/*-------------------REVISAR---------------------------*/
.lui-popover .lui-popover__footer button {
  color: #7d7d7d !important;
}

/*-------------------REVISAR---------------------------*/
/*Titulo de los objetos en editar */
.qv-inline-edit-value {
  color: #e4e4e4;
}

/*Leyenda del mapa*/
.legend-object div {
  color: #435362 !important;
}

/*Fondo del mapa en blanco y boton de home en azul*/
.qv-object-map-chart .map-content, .qv-object-map .map-content {
  background-color: #ffffff;
}

.lui-icon--home:before {
  color: #435362;
}

/*# sourceMappingURL=theme.css.map */
